:root {
    --corBackgroundPrimaria: rgb(117, 117, 117);
    --corBackgroundSecundaria: #181818;
    --corBackgroundDark: #0e0e0e;
    --corTextoPrimaria: #636363;
    --corTextoSecundaria: #000;
}



* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* -------------------- BODY -------------------- */

body {
    font-family: 'Ubuntu', sans-serif;
}

body, h1, h2, h3, ul, li, p {
    letter-spacing: 3px;
}

li, p {
    margin-top: 5px;
}


.hidden {
    display: none;
}


.coluna {
    flex-basis: 49%;
    
}
/* -------------------- HEADER -------------------- */

header {
    background-color: var(--corBackgroundPrimaria);
    padding: 30px 30px 0;
}
header .container {
    background-color: white;
}
header .linha {
    align-items: center;
}
header .coluna-esquerda {
    flex-basis: 40%;
}

header .coluna-direita {
    flex-basis: 60%;
    text-align: center;
}
header .coluna img{
    max-width: 100%;
}
header .coluna h1{
    font-size: 1.5rem;
    color: var(--corTextoSecundaria);
}
header .coluna p{
    font-size: 1em;
    color: var(--corTextoPrimaria);
}
header .coluna ul{
    margin: 16px 0 0;
}
header .coluna ul li {
    margin: 0 0 12px;
}
header .coluna ul li a {
    font-size: 1em;
    color: var(--corTextoSecundaria);
}


/* -------------------- FOOTER -------------------- */

footer {
    background-color: var(--corBackgroundSecundaria);
}

footer .container {
    padding: 20px;
}

footer nav ul li a{
    color: white;
}

footer nav .info-contato li{
    margin: 10px;
}
footer nav .info-contato li a{
    color: white;
}
footer nav .redes-sociais {
    border-top: 1px solid rgb(255 255 255 / 20%);
    margin: 20px 0 50px;
    padding: 50px;
    text-align: center;
}
footer nav .redes-sociais li {
    margin:  15px 28px;
    text-align: center;
    display: inline-block;
}

footer nav .redes-sociais li a img{
    width: 40px;
    color: white;
}

.redes-sociais img:hover {
    animation: bounce 1.25s ease-in-out;

}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    } 40% {
        transform: translateY(-20px);
    } 80% {
        transform: translateY(-10px);
    }
}



.redes-container p:hover {
    transition: .3s ease-in;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

/* -------------------- PÁGINA INICIAL -------------------- */

.title-box {

    border: solid 1px transparent;
    padding: 10px 0 5px 2px;
    background-color: #9b9b9b;
    border-radius: 2px;
    /*text-align: center;*/
}

button:hover {
    border: solid 0.5px black;
}

main .coluna{
    padding: 20px;
}

main .coluna section {
    border-bottom: 1px solid #9b9b9b;
    margin: 0 0 20px;
    min-height: 187px;
    color: var(--corTextoSecundaria);

}

main .coluna section p {
    font-size: 0.9rem;
    color: var(--corTextoPrimaria);
}

main .coluna section ul li h3 {
    font-size: 1.1rem;
}

main .coluna section ul li strong {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 6px 0 0;
    display: inline-block;
}


/* -------------------- EXTRAS -------------------- */

.interruptor {
    width: 50px;
    height: 50px; 
    display: none;
}

header .container {
    position: relative;
}

label {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 52px;
    height: 30px;
    background-color: var(--corBackgroundSecundaria);
    border-radius: 20px;
    padding: 5px 6px;
    box-sizing: border-box;
    cursor: pointer;

}

label span {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #9b9b9b;
    border-radius: 20px;
    transition: all ease-in .2s;
}

.interruptor:checked ~ .dark-mode label{
    background-color: white;

}

.interruptor:checked ~ .dark-mode label span{
    background-color: #000;
    transition: all ease-in .2s;
    transform: translateX(20px);
}

.interruptor:checked ~ .dark-mode {

    --corBackgroundPrimaria: #000;
    --corBackgroundSecundaria: #000;
    --corTextoPrimaria: #fff;
    --corTextoSecundaria: #fff;
}

.interruptor:checked ~ .dark-mode header {
    background-color: #000;
}


.interruptor:checked ~ .dark-mode .container {

    background-color: var(--corBackgroundDark);
}

.interruptor:checked ~ .dark-mode main {
    background-color: #000;
}

@keyframes aumentarLargura {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes aumentarAltura {
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}


/* -------------------- @MEDIA -------------------- */
@media only screen and (min-width: 760px) {
   
    .linha {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;    
    }


    footer nav .redes-sociais {
        display: flex;
        justify-content: center;
    }

    header {
        padding: 30px 0 0;
    }

    header .coluna img{
        max-width: 250px;
        border-radius: 100%;
    }

    .container {
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 30px;
    }

    main .coluna section {
        /* border: 2px solid #9b9b9b; */
        border: 2px solid transparent;
        padding: 20px;
        position: relative;
    }

    main .coluna section span{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 2px solid transparent;
    }

    main .coluna section .topo-direita {
        top: 0px;
        left: 0px;
        animation-name: aumentarLargura, aumentarAltura;
        animation-duration: 1s, 1s;
        animation-delay: 2s, 3s;
        animation-fill-mode: forwards;
        border-top-color:#9b9b9b;
        border-right-color:#9b9b9b;
    
    }

    main .coluna section .baixo-esquerda {
        bottom: 0px;
        right: 0px;
        animation-name: aumentarLargura, aumentarAltura;
        animation-duration: 1s, 1s;
        animation-delay: 4s, 5s;
        animation-fill-mode: forwards;
        border-bottom-color: #9b9b9b;
        border-left-color:#9b9b9b;

    }

    header .coluna-direita {
        text-align: left;
    }

    footer nav .redes-sociais li {
        margin:  0px 14px;
        text-align: center;
        display: initial;
    }

    
}

@media only screen and (min-width: 991px) {

    
    header .coluna-direita {
        flex-basis: 70%;
    }

    header .coluna-esquerda {
        flex-basis: 30%
    }
}
        
    